@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(Nature-path-by-water-trees-and-mountains-AdobeStock_291242770-scaled.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.signup-box {
  background: rgba(128, 0, 128, 0.8);
  padding: 30px;
  border-radius: 12px;
  width: 360px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.signup-box h2{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.signup-box input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}
.btn {
  width: 100%;
  background-color: #e91e63;
  border: none;
  color: white;
  font-size: 16px;
  padding: 4px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background-color:crimson;
}
i{
   margin-right: 300px;
   margin-top: 10px;
}
